html, body {
    font: 16pt arial;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    float: left;
    max-width: 400px;
    margin-right: 100px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: block;
    width: 100%;
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
}

a {
    color: #4287f5;
}

a:visited {
    color: #6f42f5
}

a:hover {
    color: #52abff;
}

footer {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #aaa;
    text-align: center;
    clear: both;
}