<!doctype html>
<head>
    {% block head %}{% endblock %}
</head>

<title>Wiki Neo4J - {% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <h1><a href="{{ url_for('bp.index') }}">Wiki Neo4j</a></h1>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>

    <hr>

    {% block content %}{% endblock %}

    <footer>
        <p><i>Projeto desenvolvido por Hanay Kamimura, Henrique Santos e Vinicius Munhoz para o curso <b>Treinamento e Capacitação em Desenvolvimento de Aplicações de Uso Intensivo de Dados</b> (Serasa 2021-S1)</i></p>
    </footer>
</section>